<table>
  <tr>
	<th><%t('.application_number')%></th>
    <th><%t('.course')%></th>
    <th><%t('.name')'%></th>
    <th><%t('.status')%></th>
    <th></th>
  </tr>

<% @applications.each do |application| %>
  <tr>
    <td><%= application.id</td>
    <td><%= application.course></td>
    <td><%= application.first_name + application.last_name%></td>
    <td><%= application.status%></td>
    <td><%= link_to 'Show', application %></td>
  </tr>
<% end %>
</table>

<br />

