<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @application.user_id %>
</p>

<p>
  <b>First name:</b>
  <%= @application.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @application.last_name %>
</p>

<p>
  <b>Spiritual name:</b>
  <%= @application.spiritual_name %>
</p>

<p>
  <b>Age:</b>
  <%= @application.age %>
</p>

<p>
  <b>Date of birth:</b>
  <%= @application.date_of_birth %>
</p>

<p>
  <b>Sex:</b>
  <%= @application.sex %>
</p>

<p>
  <b>Marital status:</b>
  <%= @application.marital_status %>
</p>

<p>
  <b>Address:</b>
  <%= @application.address %>
</p>

<p>
  <b>City:</b>
  <%= @application.city %>
</p>

<p>
  <b>State:</b>
  <%= @application.state %>
</p>

<p>
  <b>Country:</b>
  <%= @application.country %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @application.zipcode %>
</p>

<p>
  <b>Email:</b>
  <%= @application.email %>
</p>

<p>
  <b>Dayphone:</b>
  <%= @application.dayphone %>
</p>

<p>
  <b>Nightphone:</b>
  <%= @application.nightphone %>
</p>

<p>
  <b>Language:</b>
  <%= @application.language %>
</p>

<p>
  <b>Illness:</b>
  <%= @application.illness %>
</p>

<p>
  <b>Prescribed medications:</b>
  <%= @application.prescribed_medications %>
</p>

<p>
  <b>Emergency contact:</b>
  <%= @application.emergency_contact %>
</p>

<p>
  <b>Emergency relationship:</b>
  <%= @application.emergency_relationship %>
</p>

<p>
  <b>Emergency email:</b>
  <%= @application.emergency_email %>
</p>

<p>
  <b>Emergency phone:</b>
  <%= @application.emergency_phone %>
</p>

<p>
  <b>Emergency address:</b>
  <%= @application.emergency_address %>
</p>

<p>
  <b>How long practice:</b>
  <%= @application.how_long_practice %>
</p>

<p>
  <b>How know:</b>
  <%= @application.how_know %>
</p>

<p>
  <b>Ever been:</b>
  <%= @application.ever_been %>
</p>

<p>
  <b>Experience:</b>
  <%= @application.experience %>
</p>


<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
