<% content_for :active_sub_nav do %>
	active
<% end %>

<div class="span10 offset1">
	<h2 class="word-centered word-shadow blue">The Five Points</h2>
	<div class="clearfix"></div>
	
	<div class="row-fluid">
		<div class="span3">
			<div class="blank25"></div>
			<%= image_tag '245.jpg',:width=>'200',:class=>'img-rounded' %>
		</div>
		<div class="span8">
			<h4 class="blue" >1. Proper Exercise (Asanas)</h4>
			<p class="paragraph">
			The Sivananda Yoga Class includes breathing, relaxation and concentration, following a sequence of 12 basic postures, aiming to enhance the energy flow and tune the body-mind-spirit system. As you advance you will also learn varitions of the postures.</p>
			<p class="paragraph">
			Daily repetition of these postures bring the maximum benefits. Regular exercise keeps the body young and flexible. The asanas (physical yoga postures) ensure the health of the internal body systems and the flexibility of the spine. On the subtle level, Yogic exercises renew and energize the body and mind, improve concentration, help to release blocked mental energy and negative emotions, and promote a feeling of connection and self-awareness.</p>
			<p class="paragraph">Yoga is traditionally considered more than physical exercise because it&rsquo;s benefits are not only physical, but also mental, emotional and spiritual. It is a complete system of self development.
			</p>
		</div>
	</div>
	
	<div class="clearfix"></div><hr class="soften"/>
	<div class="row-fluid">		
		<div class="span8">
			<h4 class="blue" >2. Proper Breathing (Pranayama)</h4>
			<p class="paragraph">
				Breath is to the body what a battery is to a car. It gives us oxygen, most needed for our cells, but also gives us prana, or vital energy. Pranayama, or yogic breathing exercises, are an integral part of the Sivananda yoga practice. It increases, balances and purifies our energy system and awakens higher energy. Learning how to breath correctly allows the body and mind to move into stillness and facilitates meditation practice.
			</p>
		</div>
		<div class="span3">
			<div class="blank25"></div>
			<%= image_tag '1285.jpg',:width=>'100',:class=>'img-rounded pull-right' %>
		</div>
	</div>
	
	<div class="clearfix"></div><hr class="soften"/>
	<div class="row-fluid">		
		<div class="span3">
			<div class="blank25"></div>
			<%= image_tag 'relax.jpg',:width=>'200',:class=>'img-rounded' %>
		</div>
		<div class="span8">
			<h4 class="blue" >3. Proper Relaxation (Savasana)</h4>
			<p class="paragraph">
				Yogic relaxation techniques not only relax the tensed and tired muscles but also relax the mind and reconcile you with the purpose of living.</p>
			<p class="paragraph">
				Many of us today suffer from a huge load of unacknowledged fatigue. We carry tension with us all day and do not know how to release it. We spend more energy keeping muscles in continuous readiness for work than in actually working usefully. We dissipate vital energy in anger, fear and negative emotions. Tiredness accumulates on a physical, mental and spiritual level, draining us of joy in our everyday lives. We run the risk of burning out our physical vehicle if we do not practice relaxation.</p>
			<p class="paragraph">
				The deep cause of stress is existential. Spiritual tension and fatigue come about from the underlying questions - who am I? What is my purpose here? What is the meaning of life?</p>
			<p class="paragraph">
				Yoga suggests we should not wait for a spiritual crisis to address our spiriutal needs and concerns. Gently exploring the questions we have about ourselves and our relationship to the universe brings a sense of deep relaxation which permeates all other aspects of our physical and mental wellbeing. Using the guidance of teachers, books, workshops, and satsang (company of the wise) we expand our understanding and fears and anxieties are replaced by faith, love, confidence and knowledge.
			</p>
		</div>
	</div>
	
	<div class="clearfix"></div><hr class="soften"/>
	<div class="row-fluid">		
		<div class="span8">
			<h4 class="blue" >4. Proper Diet (Vegetarian)</h4>
			<p class="paragraph">
				Food is the fuel for the physical vehicle. Yoga is concerned with the subtle effect food has on the serenity of the mind and the keenness of the intellect, as well as the health of the body. The yogic diet is sattvic, not rajasic and tamasic. Sattvic - stable pure focused energy, calm, balanced, lively. The aim of yoga is to increase the proportion of sattvic energy in our being by choosing sattvic foods, and avoiding rajasic and tamasic foods. Hence, the yogic diet is a vegetarian one, consisting of pure, simple natural foods which are easily digested and promote health. Eating foods grown in fertile soil, free from chemicals and pesticides, ensures a better supply of nutrients to the body. Rajasic - unstable energy, restless activity, excitement, passion, and Tamasic &ndash; the lowest rate of vibration, inert, immobile, dark, lethargic, are attributes that are not included in the sattvic diet.
			</p>
		</div>
		<div class="span3">
			<div class="blank25"></div>
			<%= image_tag 'vndietpic.jpg',:width=>'200',:class=>'img-rounded pull-right' %>
		</div>
	</div>
	
	<div class="clearfix"></div><hr class="soften"/>
	<div class="row-fluid">		
		<div class="span3">
			<div class="blank25"></div>
			<%= image_tag '7603.jpg',:width=>'200',:class=>'img-rounded' %>
		</div>
		<div class="span8">
			<h4 class="blue" >5. Positive Thinking and Meditation</h4>
			<p class="paragraph">
				A car may have a new battery, a smoothly functioning cooling system, perfectly lubricated parts and a full gas tank. However, without a driver in full control of his/her senses and a road map to their destination, the vehicle is useless. Positive thinking and meditation allow us to assume the role of this driver in order to make full use of the physical body.</p>
			<p class="paragraph">
				Positive thinking begins with understanding the mind. By examining the nature of thoughts, we realize how we can choose and direct them for maximum happiness and effectiveness. Positive thinking is the preparation for meditation. A positive outlook on life can be developed by learning and practicing the teachings of the philosophy of Vedanta.</p>
			<p class="paragraph">
				The deep cause of stress is existential. Spiritual tension and fatigue come about from the underlying questions - who am I? What is my purpose here? What is the meaning of life?</p>
			<p class="paragraph">
				The purpose of meditation is to experience our true Self. Most of us have asked what we are doing here, what is our purpose or goal in life. Yoga says the answers are within. Meditation is a time and space set apart specifically  for no other purpose than to look within for these answers. The mind will be brought under perfect control by regular practice of meditation.
			</p>
		</div>
	</div>
	
</div>

